.listLink {
    width: 100%;
    height:100%;
    display: flex;
    direction: column;
    padding: 0;
    margin:0;
    justify-content:center;
    align-content:center;
}

.listLink > li {
    font-family: Lobster-Regular;
    font-size: 20px;
    height:25px;
    margin: 5px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.listLink a {
    text-decoration: none;
}

.listLink a:hover {
    color:red;
}